# 이 파일을 복사해서 .env 로 만들고 값을 채운다. (.env 는 git/배포에서 제외)
DB_HOST=team2.xxxxxxxx.ap-northeast-2.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=changeme
DB_NAME=team2

DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_RECYCLE=1800
DB_POOL_PRE_PING=true
DB_ECHO=false
